# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
venv-rubeus/
ENV/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Reports
reports/automated/*
reports/manual/*
!reports/automated/.gitkeep
!reports/manual/.gitkeep

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db