# Ambiente virtual
venv/
venv-rubeus/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Pytest
.pytest_cache/

# Relatórios de teste
report.html
test-results/
playwright-report/

# Playwright
node_modules/
playwright/.cache/

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Coverage (caso adicione depois)
htmlcov/
.coverage
.coverage.*

# Arquivos temporários
*.tmp
*.temp